html {
  display: block;
}

#root {
  justify-content: center;
}

.container {
  max-width: 1200px;  /* 필수 요구 사항 - 최대 넓이 1200px */
  min-width: 800px;   /* 필수 요구 사항 - 최소 넓이 800px */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px #0000001a;
  border-radius: 8px;
  color: #333;
}

h1 {
  font-size: 2rem;
  color: #003580;
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 8px;
  align-items: flex-end;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group {
  flex-shring: 0;
  display: flex;
  gap: 10px;
  align-items: end;
}

button {
  padding: 10px 20px;
  background-color: #fc0;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  align-self: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #e6e6fa;
  border-radius: 8px;
  overflow: hidden;
}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}